languages/
ai1wm-backups/
uploads/
plugins/all-in-one-wp-migration/
plugins/show-current-template/
plugins/advanced-custom-fields
plugins/fakerpress
plugins/members
plugins/acf-to-rest-api
plugins/custom-post-type-ui
plugins/pet-adoption
plugins/rocket-books-master
plugins/upgraded-boilerplate-tutorials-code-master/
node_modules/
themes/fictional-university-theme/
themes/iws/
npm-debug.log*
**/.env
